.reviewForm {
    padding: 2%;
    width: 98%;
    margin: 1rem auto 0;
}

.reviewForm form {
   display: flex;
   flex-direction: column;
}

.reviewForm label {
    font-weight: bold;
}

.reviewForm textarea {
    font-size: 1.3rem;
    padding: .4rem;
    border: 1px solid #ccc;
}